html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #2b2a33;
  font-family: Arial;
}

h1 {
  color: red;
  text-align: center;
}

.bg-img{
  position: relative;
  min-height: 380px;

}

  .bg-img img {
    width: 100%;
    max-height: 400px;
    image-resolution: normal;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
  }
  .bg-img__heading {
    position: absolute;
    text-align: left;
    bottom: 15%;
    padding-left: 20px;
    color: #fff;
    text-shadow: -2px 2px 0 #000;
    font-size: 4em;
  }
  .bg-img__btn {
    position: absolute;
    bottom: 15%;
    left: 20px;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .bg-img__btn:hover {
    background-color: black;
  }
  .bg-img__description {
    position: absolute;
    bottom: 20px;
    left: 25px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-right: 20px;
    width: 50%;
  }
  .bg-img__description:hover {
    opacity: 0.8;
  }


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 20px 0;
}
.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: 250ms all;
  /*margin: 5% 5% 5% 5%;*/
}
.wrapper section .item img {
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}
.wrapper section .item .heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-shadow: -2px 2px 0 #000;
  text-align: left;
}
.wrapper section .item .duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
  text-shadow: -1px 1px 0 #000;
}
.wrapper section .arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section .left-arrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section .right-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 60%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #101010;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000;
  color: white;
}

.modal-body {
  color : #f2f2f2;
}

.modal-body p {
  padding: 2px 16px;
}