html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #2b2a33;
  font-family: Arial;
}

h1 {
  color: red;
  text-align: center;
}


/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  height:70px;
  width : 140px;
  vertical-align: middle;
  line-height: 70px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Centered section inside the top navigation */
.topnav .topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Best film position*/
.bg-img{
  position: relative;
  min-height: 380px;
}
/* Best film background image*/
.bg-img img {
  width: 100%;
  max-height: 400px;
  image-resolution: normal;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}
/* Best film title*/
.bg-img__heading {
  position: absolute;
  text-align: left;
  bottom: 15%;
  padding-left: 20px;
  color: #fff;
  text-shadow: -2px 2px 0 #000;
  font-size: 4em;
}
/* Best film play button*/
.bg-img__btn {
  position: absolute;
  bottom: 15%;
  left: 20px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* Best film hover play button*/
.bg-img__btn:hover {
  background-color: black;
}
/* Best film description*/
.bg-img__description {
  position: absolute;
  bottom: 20px;
  left: 25px;
  background-color: black;
  opacity: 0.5;
  color: white;
  padding-right: 20px;
  width: 50%;
}
/* Best film hover description*/
.bg-img__description:hover {
  opacity: 0.8;
}

/* Category section*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
/* Category section*/
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 20px 0;
}
/* Movie container*/
.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: 250ms all;
}
/* Movie picture*/
.wrapper section .item img {
  object-fit: fill;
  object-position: center;
  height: 100%;
}
/* Hover movie picture*/
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}
/* Movie title text*/
.wrapper section .item .heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-shadow: -2px 2px 0 #000;
  text-align: left;
}
/* Movie duration text*/
.wrapper section .item .duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
  text-shadow: -1px 1px 0 #000;
}
/* Arrow button background*/
.wrapper section .arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
/* Left arrow button */
.wrapper section .left-arrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
/* Right arrow button */
.wrapper section .right-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  object-position: center;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: center;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #101010;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  position:relative;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  right : 8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000;
  color: white;
}

.modal-body {
  color: #f2f2f2;
}

.modal-body p {
  padding: 2px 16px;
}